Structs/obj/Debug/netcoreapp2.0/DataStructures.csprojResolveAssemblyReference.cache
Structs/obj/Debug/netcoreapp2.0/DataStructures.csproj.FileListAbsolute.txt
Structs/obj/Debug/netcoreapp2.0/DataStructures.csproj.CoreCompileInputs.cache
Structs/obj/Debug/netcoreapp2.0/DataStructures.AssemblyInfoInputs.cache
Structs/obj/Debug/netcoreapp2.0/DataStructures.AssemblyInfo.cs
Structs/obj/Debug/netcoreapp2.0/DataStructures.pdb
Structs/obj/Debug/netcoreapp2.0/DataStructures.dll
Structs/obj/DataStructures.csproj.nuget.g.targets
Structs/obj/DataStructures.csproj.nuget.g.props
Structs/obj/DataStructures.csproj.nuget.cache
Structs/bin/Debug/netcoreapp2.0/DataStructures.runtimeconfig.dev.json
Structs/bin/Debug/netcoreapp2.0/DataStructures.runtimeconfig.json
Structs/bin/Debug/netcoreapp2.0/DataStructures.deps.json
Structs/bin/Debug/netcoreapp2.0/DataStructures.pdb
Structs/bin/Debug/netcoreapp2.0/DataStructures.dll
Enumerations/obj/Debug/netcoreapp2.0/Enumerations.csproj.FileListAbsolute.txt
Structs/.vscode/tasks.json
Structs/.vscode/launch.json
Enumerations/obj/Debug/netcoreapp2.0/Enumerations.csproj.FileListAbsolute.txt
Enumerations/obj/Debug/netcoreapp2.0/Enumerations.csproj.CoreCompileInputs.cache
obj/*
.vs/*
Enumerations/.vscode/launch.json
Enumerations/.vscode/tasks.json
Enumerations/bin/Debug/netcoreapp2.0/Enumerations.dll
Enumerations/bin/Debug/netcoreapp2.0/Enumerations.pdb
Enumerations/bin/Debug/netcoreapp2.0/Enumerations.deps.json
Enumerations/bin/Debug/netcoreapp2.0/Enumerations.runtimeconfig.json
Enumerations/bin/Debug/netcoreapp2.0/Enumerations.runtimeconfig.dev.json
Enumerations/obj/Enumerations.csproj.nuget.cache
Enumerations/obj/Enumerations.csproj.nuget.g.props
Enumerations/obj/Enumerations.csproj.nuget.g.targets
Enumerations/obj/project.assets.json
Enumerations/obj/Debug/netcoreapp2.0/Enumerations.dll
Enumerations/obj/Debug/netcoreapp2.0/Enumerations.pdb
Enumerations/obj/Debug/netcoreapp2.0/Enumerations.AssemblyInfo.cs
Enumerations/obj/Debug/netcoreapp2.0/Enumerations.AssemblyInfoInputs.cache
Structs/obj/project.assets.json